.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 5.7rem;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header img {
    width: 2.65rem;
    height: 4.3rem;

}

nav ul  {
    display: flex;
    font-size: 1.8rem;
    color: var(--white);
  
}

nav ul li {
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    margin-right: 60px;
}

nav ul li a {
    color: var(--white);
    transition: .5s;
}

nav ul li a:hover {
    color: var(--red);
}

.button-header {
    width: 23rem;
    height: 5rem;
    background-color: var(--white);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
}

.button-header > img {

    margin-right: 1.5rem;
    color: var(--black);
    font-weight: 700;


}

.about {
    display: flex;
  
    width: 100%;
    height: 100%;
    margin-top: 9rem;
    justify-content: space-between;
    align-items: center;
 
  
}

.one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40.1rem;


}

.one p{
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    
    
 
}

.one img {

    width: 16.9rem;
    height: 8.7rem;
    margin-top: 5.5rem;

}

.slot-1 {
    display: flex;
   
 
}

.one h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.about span {


    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-end;
 
    
}

span h2 {
    margin-left: .6rem;
}

span p {
    margin-left: .6rem;
}

.two {

    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 59.6rem;


   
    color: var(--white);


    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;

    font-weight: bold;

    line-height: 60px;



  
};

.three {
    display: flex;
    
}
